<section class="form-item form-item-hover">
  <section class="form-item-cover">
    <h3 class="form-item-component form-question">{{question}}</h3>
    <section class="form-radio-list">
      <mat-radio-group class="form-item-component form-radio-group">
        <ul class="radio-list">
          <li><mat-radio-button class="form-item-component form-radio-button" value="1">Option 1</mat-radio-button></li>
          <li><mat-radio-button class="form-item-component form-radio-button" value="2">Option 2</mat-radio-button></li>
        </ul>
      </mat-radio-group>
    </section>
  </section>
</section>
