<section>
  <h1 mat-dialog-title>Choose User or Group</h1>

  <mat-dialog-content>
    <mat-radio-group>
      <h2>Users</h2>
      <mat-list>
        <mat-list-item><mat-radio-button value="Ron">Ron</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="Kate">Kate</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
        <mat-list-item><mat-radio-button value="William">William</mat-radio-button></mat-list-item>
      </mat-list>

      <h2>Admin Users</h2>
      <mat-list>
        <mat-list-item>
          <mat-radio-button value="Mike">Mike</mat-radio-button>
        </mat-list-item>
        <mat-list-item>
          <mat-radio-button value="Sarah">Sarah</mat-radio-button>
        </mat-list-item>
      </mat-list>

      <h2>Groups</h2>
      <mat-list>
        <mat-list-item>
          <mat-radio-button value="System">System</mat-radio-button>
        </mat-list-item>
        <mat-list-item>
          <mat-radio-button value="Sales">Sales</mat-radio-button>
        </mat-list-item>
      </mat-list>
    </mat-radio-group>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button>No Thanks</button>
    <!-- <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button> -->
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
  </div>
</section>
